* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul {
    list-style: none;
}

body {
	font: 400 16px/1.1 'Roboto', 'Arial', 'Helvetica', sans-serif;
	background: #f0f0f5;
	color: #000;
}
.header{
	height: 50px;
	width: auto;
    max-width: 100%;
	background-color: black;
}

.header-top {
    background-color: #000;
    padding: 5px 0;
    border-bottom: 2px solid #fff;
}

.header-top .container,
.header-bottom .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    background-color: #4caf50;
    padding: 5px 0;
    border-bottom: 2px solid #fff;
}

.search-form {
    position: relative;
    color: grey;
}

.search-form input {
    border: 1px solid #f0f0f5;
    width: 250px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    background-color: transparent;
    padding: 0 40px 0 10px;
    color: inherit;
}

.submit {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.tel {
    color: white;
    text-decoration: none;
    font-family: "Comic Sans MS", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tel i {
    font-size: 200%;
    margin-right: 10px;
}

.socials li {
    display: inline-block;
    vertical-align: middle;
}

.socials a {
    color: #f0f0f5;
    font-size: 2.5em;
}

.nav {
    margin-right: -15px;
    display: flex;
    align-items: center;
}

.nav li:last-child:after {
    display: none;
}

.nav li:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ffffff;
    right: 0;
    top: 0;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    background: transparent;
    color: blue;
}

.menu{
    border-right: 3px;
}
.list{
    padding: 0 15px;
    position: relative;
    /*left: 430px;*/
    /*border-right: 2px solid #f0f0f5;*/
    font-size: 30px;
}
.content{
    background-color: black;
}
.main{
    height: 150px;
    width: auto;
}
